@charset "utf-8";
/*pc 해상도일 경우 적용되는 서식*/


@media screen and (min-width:1025px) {
  /* body{} */
  .wrap{
    width: 1025px;
    margin: 0px auto;
    grid-template-rows: repeat(3,auto);
    grid-template-areas:
    "header header header"
    "nav cont1 cont2 "
    "nav footer footer ";
  }
}

